<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="../public/assets/images/logo2.png" type="image/x-icon">
    <meta name="description" content="">
    <title>site name</title>
    <link rel="stylesheet" href="../public/assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="../public/assets/web/assets/mobirise-icons2/mobirise2.css">
    <link rel="stylesheet" href="../public/assets/tether/tether.min.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../public/assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="../public/assets/dropdown/css/style.css">
    <link rel="stylesheet" href="../public/assets/formstyler/jquery.formstyler.css">
    <link rel="stylesheet" href="../public/assets/formstyler/jquery.formstyler.theme.css">
    <link rel="stylesheet" href="../public/assets/datepicker/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="../public/assets/theme/css/style.css">
    <link rel="stylesheet" href="../public/assets/formoid-css/recaptcha.css">
    <link rel="preload" as="style" href="../public/assets/mobirise/css/mbr-additional.css">
    <link rel="stylesheet" href="../public/assets/mobirise/css/mbr-additional.css" type="text/css">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
    <section class="menu cid-rx3IEQFgmC" once="menu" id="menu04-a0" data-sortbtn="btn-primary">
        <nav class="navbar navbar-dropdown navbar-fixed-top navbar-expand-lg">
            <form id='kywrd_form' method='get' action='/showResults' class="collapse navbar-collapse">
                <input id="keyword" type="text" name="keyword" placeholder="keyword" data-form-field="keyword" class="form-control display-7" value="" id="keyword-formbuilder-2">
                <script>
                    document.getElementById("keyword").value = "<%= keyword %>";
                </script>
                <div class="icons-menu">
                    <a href="javascript:{}" onclick="document.getElementById('kywrd_form').submit();">
                        <span class="p-2 mbr-iconfont mobi-mbri-search mobi-mbri" style="color: rgb(87, 70, 139); fill: rgb(87, 70, 139);"></span>
                    </a>
                </div>
            </form>
        </nav>
    </section>
    <section class="accordion1 cid-rx3JXkfsaj" id="accordion01-a2" data-sortbtn="btn-primary">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="section-head text-center space30">
                        <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">요약해서 보여주기</h2>
                        <div id="box">
                            <div id="tester" style="width:100%;"></div>
                            <script>
                            var array = [];
                            <%
                                array = period;
                                console.log(array);
                                array.forEach(function (item, index, array) {
	                               array[index] = "\'"+ item + "\'";
                                });
                                console.log(array);
                            %>
                                
                            TESTER = document.getElementById('tester');
                            Plotly.plot(TESTER, [{
                                x: [<%- period %>], // 날짜
                                y: [<%= count %>], // 검색량
                                type: 'scatter'
                            }]);
                            </script>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <section class="accordion1 cid-rx3JXkfsaj" id="accordion01-a2" data-sortbtn="btn-primary">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="section-head text-center space30">
                        <h2 class="mbr-section-title pb-5 mbr-fonts-style display-2">
                            포털사이트 별 상세 내역</h2>
                    </div>
                    <div class="clearfix"></div>
                    <div id="bootstrap-accordion_18" class="panel-group accordionStyles accordion" role="tablist" aria-multiselectable="true">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <a role="button" class="panel-title collapsed" data-toggle="collapse" data-core="" href="#collapse1_18" aria-expanded="false" aria-controls="collapse1">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>네이버
                                    </h4>
                                </a>
                            </div>
                            <div id="collapse1_18" class="panel-collapse noScroll collapse " role="tabpanel" aria-labelledby="headingOne" data-parent="#bootstrap-accordion_18">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        <!-- 관련 세부 사항 -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse2_18" aria-expanded="false" aria-controls="collapse2">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>구글
                                    </h4>
                                </a>
                            </div>
                            <div id="collapse2_18" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#bootstrap-accordion_18">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        <!-- 관련 세부 사항 -->
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <a role="button" class="collapsed panel-title" data-toggle="collapse" data-core="" href="#collapse3_18" aria-expanded="false" aria-controls="collapse3">
                                    <h4 class="mbr-fonts-style display-5">
                                        <span class="sign mbr-iconfont mbri-arrow-down inactive"></span>다음
                                    </h4>
                                </a>
                            </div>
                            <div id="collapse3_18" class="panel-collapse noScroll collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#bootstrap-accordion_18">
                                <div class="panel-body p-4">
                                    <p class="mbr-fonts-style panel-text display-7">
                                        <!-- 관련 세부 사항 -->
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section once="" class="cid-rEoHegd1JZ" id="footer01-0" data-sortbtn="btn-primary">
        <div class="container">
            <div class="media-container-row align-center mbr-white">
                <div class="col-12">
                    <p class="mbr-text mb-0 mbr-fonts-style display-4">
                        © Copyright 2019 Mobirise - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/assets/web/assets/jquery/jquery.min.js"></script>
    <script src="../public/assets/popper/popper.min.js"></script>
    <script src="../public/assets/tether/tether.min.js"></script>
    <script src="../public/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../public/assets/dropdown/js/nav-dropdown.js"></script>
    <script src="../public/assets/dropdown/js/navbar-dropdown.js"></script>
    <script src="../public/assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="../public/assets/mbr-tabs/mbr-tabs.js"></script>
    <script src="../public/assets/mbr-switch-arrow/mbr-switch-arrow.js"></script>
    <script src="../public/assets/formstyler/jquery.formstyler.js"></script>
    <script src="../public/assets/formstyler/jquery.formstyler.min.js"></script>
    <script src="../public/assets/datepicker/jquery.datetimepicker.full.js"></script>
    <script src="../public/assets/smoothscroll/smooth-scroll.js"></script>
    <script src="../public/assets/theme/js/script.js"></script>
    <script src="../public/assets/formoid/formoid.min.js"></script>
</body>

</html>